.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.navbar-home {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-elements {
  display: flex;
  justify-content: space-between;
}

.navbar-image {
  width: 2em;
  margin-right: 1em;
}
